Repository ROCm/rocSHMEM, pull requests merged in 2025-09, with the labels that each got.

#243 GDA `get*` APIs
  scripts/functional_tests/driver.sh
  src/gda/bnxt/provider_gda_bnxt.hpp
  src/gda/context_gda_device.cpp
  src/gda/queue_pair.cpp
  src/gda/queue_pair.hpp
Labels: GDA

#246 Update AUTHORS
  .github/CODEOWNERS
  AUTHORS.md
Labels: noCI

#259 Improve qp mapping
  README.md
  docs/compile_and_run.rst
  src/gda/backend_gda.cpp
  src/gda/backend_gda.hpp
Labels: GDA

#266 [Bug] Fix rocshmem_p and rocshmem_g functional tests
  tests/functional_tests/primitive_tester.cpp
  tests/functional_tests/tester_arguments.cpp
Labels: bug
