Repository ROCm/rocSHMEM, pull requests merged in 2025-08, with the labels that each got.

#213 rocSHMEM GDA BNXT POC
  src/assembly.hpp
  src/gpu_ib/bnxt/bnxt_re-abi.h
  src/gpu_ib/bnxt/bnxt_re_dv.h
  src/gpu_ib/bnxt/bnxt_util.hpp
  src/gpu_ib/bnxt/gda_device_bnxt.cpp
  src/gpu_ib/bnxt/gda_provider_bnxt.hpp
  src/gpu_ib/bnxt/queue_pair_bnxt.cpp
  src/gpu_ib/gda_device.cpp
  src/gpu_ib/gda_device.hpp
  src/gpu_ib/queue_pair.cpp
  src/gpu_ib/queue_pair.hpp
  src/util.hpp
Labels: GDA, noCI

#216 gda: Disable non-functional tests
  scripts/functional_tests/driver.sh
  tests/functional_tests/tester_arguments.hpp
Labels: GDA, noCI

#229 gda_devel: teams with MPI initalization
  scripts/functional_tests/driver.sh
  src/team.cpp
Labels: bug, GDA, noCI

#215 [GDA] Query for the correct GID index
  src/gpu_ib/bnxt/gda_device_bnxt.cpp
  src/gpu_ib/gda_device.cpp
  src/gpu_ib/gda_device.hpp
  src/gpu_ib/queue_pair.hpp
Labels: ⚠️ WIP-DNM!, GDA, noCI
